* {
    transition: background 0.3s ease-in-out;
}

h1, h2, h3, li, td, a {
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    text-decoration: none;
}

body.dark {
    background-color: #222;
}

body.light {
    background-color: #ddd;
}

::-webkit-scrollbar {
    width: 0;
}

main {
    width: calc(100vw - 500px);
    margin: 40px 100px 60px;
}

/* translation aside */
.tr-aside {
    position :fixed;
    width: 60px;
    height: calc(100vh - 60px);
    top: 60px;
    right: 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.tr-aside.dark {
    background-color: #333;
}

.tr-aside.light {
    background-color: #ccc;
}

.tr-aside table {
    white-space: nowrap;
    visibility: hidden;
    margin: 20px;
    border-collapse: collapse;
}

.tr-aside table tr td {
    border: 1px solid #111;
    padding: 8px;
}

.tr-toggle.dark {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url(./images/translate-dark.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #444;
}

.tr-toggle.light {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url(./images/translate-light.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bbb;
}

.tr-toggle-on.dark:hover {
    background-color: #666;
    cursor: pointer;
}

.tr-toggle-on.light:hover {
    background-color: #aaa;
    cursor: pointer;
}

/* navigation aside */
.nav-aside {
    position :fixed;
    width: 60px;
    height: calc(100vh - 120px);
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.nav-aside.dark {
    background-color: #333;
}

.nav-aside.light {
    background-color: #ccc;
}


.nav-aside ul {
    white-space: nowrap;
    visibility: hidden;
    list-style: none;
    margin-top: 30px;
}

.nav-toggle.dark {
    position: fixed;
    top: 60px;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url(./images/menu-dark.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #444;
}

.nav-toggle.light {
    position: fixed;
    top: 60px;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url(./images/menu-light.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bbb;
}

.nav-toggle.dark:hover {
    background-color: #666;
    cursor: pointer;
}

.nav-toggle.light:hover {
    background-color: #aaa;
    cursor: pointer;
}

/* toggle dark mode/light mode */
.md-toggle.dark {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-image: url(./images/light-mode.png);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #444;
}

.md-toggle.light {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-image: url(./images/dark-mode.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bbb;
}

.md-toggle.dark:hover {
    background-color: #666;
    cursor: pointer;
}

.md-toggle.light:hover {
    background-color: #aaa;
    cursor: pointer;
}


/* texts and stuffs */
.hr-par {
    margin: 30px 0;
}

.hr-aside {
    margin-right: 20px;
}

.l1 {
    list-style: upper-alpha;
}

.l2 {
    list-style: decimal;
}

.l3 {
    list-style: disc;
}

.hl {
    font-weight: bold;
}
